<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468797129064-9rqcn90lekmiqu1oirc9id351816lqqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468797129064-9rqcn90lekmiqu1oirc9id351816lqqa</string>
	<key>API_KEY</key>
	<string>AIzaSyB7deRo7IubjoOpcrBPOlibUyB3uL4GRlg</string>
	<key>GCM_SENDER_ID</key>
	<string>468797129064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>uicsparkhacks2026</string>
	<key>STORAGE_BUCKET</key>
	<string>uicsparkhacks2026.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468797129064:ios:1c2f31fda6ba713c8fd6dd</string>
</dict>
</plist>